@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #191919;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #fff;

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
}

@supports (height: 100dvh) {
  .min-h-dvh {
    min-height: 100dvh;
  }
}

main {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: var(--font-sans, sans-serif);
}

code,
pre {
  font-family: var(--font-mono, monospace);
}

body {
  background: var(--background);
  color: var(--foreground);
}
